* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Courier New', Courier, monospace
}

body {
    background: #FFE6E6;
    color: #511845;
}

header {
    color: #900C3F;
    font-size: 1.5rem;
    margin-top: 1rem;
	margin-bottom: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
    text-align: center;
}

section {
    margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

#introduction, #welcome {
    display: flex;
    color:#511845;
    font-size: 2rem;
    font-weight: bolder;
}

#introduction input, #welcome input {
    color:#511845;
    font-size: 2rem;
    margin-left: 1rem;
    flex: 1 1 0%;
    min-width: 0;
    font-weight: bolder;
}

h3 {
    color:#511845;
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

h4 {
    color: #D15A7C;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}

#createTask input[type="text"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.75rem;
    background-color: #FFF0F8;
    color:#511845;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#createTask #options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    margin-bottom: 1.5rem;
}

#createTask #options label {
    background-color: #FFF0F8;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 0.8rem;
    cursor: pointer;
}

button, input[type="text"] {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 999px;
	border: 2px solid var(--business);
	box-shadow: var(--business-glow);
}

.bubble.personal {
	border-color: var(--personal);
	box-shadow: var(--personal-glow);
}

.bubble.relationship {
	border-color: var(--personal);
	box-shadow: var(--personal-glow);
}

.bubble.micellaneous {
	border-color: var(--personal);
	box-shadow: var(--personal-glow);
}

.bubble::after {
	content: '';
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: var(--business);
	box-shadow: var(--business-glow);
	border-radius: 999px;
	transition: 0.2s ease-in-out;
}

.bubble.personal::after {
	background-color: var(--personal);
	box-shadow: var(--personal-glow);
}

.bubble.relationship::after {
	background-color: var(--personal);
	box-shadow: var(--personal-glow);
}

.bubble.micellaneous::after {
	background-color: var(--personal);
	box-shadow: var(--personal-glow);
}