* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: #FFE6E6;
    color: #511845;
}

header {
    background-color: #C490E4;
    color: #FFE6E6;
    font-size: 1.5rem;
    padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
    text-align: center;
}

section {
    margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.introduction, .welcome {
    display: flex;
    color:#511845;
    font-size: 2rem;
    font-weight: bolder;
}

.introduction input, .welcome input {
    color:#511845;
    font-size: 2rem;
    margin-left: 1rem;
    flex: 1 1 0%;
    min-width: 0;
    font-weight: bolder;
}

h3 {
    color:#511845;
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

h4 {
    color: #D15A7C;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.createTask input[type="text"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.75rem;
    background-color: #FFF0F8;
    color:#511845;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.createTask .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.createTask .options label {
    background-color: #FFF0F8;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 0.8rem;
    cursor: pointer;
}

button, input[type="text"] {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 999px;
	border: 2px solid #C70039;
	box-shadow: 0px 0px 6px rgba(238, 58, 106, 0.8);
}

.bubble.personal {
	border-color: #36846B;
	box-shadow: 0px 0px 6px rgba(58, 238, 223, 0.8);
}

.bubble::after {
	content: '';
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: #C70039;
	box-shadow: 0px 0px 6px rgba(238, 58, 106, 0.8);
	border-radius: 999px;
	transition: 0.3s ease-in-out;
}

.bubble.personal::after {
	background-color: #36846B;
	box-shadow: 0px 0px 6px rgba(58, 238, 223, 0.8);
}

input:checked ~ .bubble::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}

.taskList label div, #options label div {
	color: #511845;
	font-size: 1.25rem;
	margin-top: 1rem;
}

.createTask input[type="submit"] {
	display: block;
	width: 100%;
	font-size: 1.25rem;
	padding: 1rem 1.5rem;
	color: #FFE6E6;
	font-weight: bolder;
	text-transform: uppercase;
	background-color: #A685E2;
	border-radius: 0.5rem;
	border-color:#A685E2;
	cursor: pointer;
	transition: 0.3s ease-out;
}

.createTask input[type="submit"]:hover {
	opacity: 0.5;
}

.taskList .list {
	margin: 1rem 0;
}

.taskList .taskItem {
	display: flex;
	align-items: center;
	background-color: #FFF0F8;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow:  0 1px 3px rgba(0, 0, 0, 0.1);
	margin-bottom: 1rem;
}