* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Courier New', Courier, monospace
}

body {
    background: #FFE6E6;
    color: #511845;
}

header {
    color: #900C3F;
    font-size: 1.5rem;
    margin-top: 1rem;
	margin-bottom: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
    text-align: center;
}

section {
    margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

#introduction, #welcome {
    display: flex;
    color:#511845;
    font-size: 2rem;
    font-weight: bolder;
}

#introduction input, #welcome input {
    color:#511845;
    font-size: 2rem;
    margin-left: 1rem;
    flex: 1 1 0%;
    min-width: 0;
    font-weight: bolder;
}

h3 {
    color:#511845;
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

h4 {
    color: #D15A7C;
    font-size: 1.45rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}

#createTask input[type="text"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.75rem;
}